<!-- Section Intro Slider================================================== -->
<div id="carousel-example-generic" class="carousel intro slide">	
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<!-- First slide -->
		<div class="item active" style="">
			<div style="overflow: hidden;background: -moz-linear-gradient(top, #bc8650 50%,#eee 100%);
background: -webkit-linear-gradient(top,#bc8650 50%,#eee 100%); background: linear-gradient(to bottom, #bc8650 50%,#eee 100%); height: 100%; ">
				<div class="carousel-caption web-logo">
					<img src="assets/text4213.png" style="width: 230px; height: 150px; margin-bottom: 30px"/> 
					<h2 style="color: black" data-animation="animated bounceInDown"><b>
					A collection of coffee shops with that unicorn combination of good coffee, good Wi-Fi and plugs. All on your phone.
					(Wi-Fi passwords included)</b></h2>					
					<a href="#" class="" data-animation="animated fadeInLeft"><b>Recommend a place</b></a><span> . </span>
					<a href="#" class="" data-animation="animated fadeInRight"><b>Subscribe for updates</b></a><span> . </span>
					<a href="#" class="" data-animation="animated fadeInRight"><b>Thank you</b></a>
					<br/>
					<a href="#" class="" data-animation="animated fadeInRight"><b>Made by Me</b></a>
				</div>
			</div>
		</div>
		<!-- /.item -->
	</div>	
</div>
<!-- /.carousel -->

<!-- Section About
================================================== -->
<section id="about" style="padding: 40px 0px">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">		
				<!-- India icon by Icons8 -->
				<img src="https://maxcdn.icons8.com/Color/PNG/24/Maps/india-24.png" title="India" width="24">
				<div class="about-places">
					<a href="https://foursquare.com/coffeeplaces/list/mumbaimeet-over-coffee" style="text-decoration:none">
						<h2 class="section-heading left">MUMBAI, MUM</h2>
						<p class="section-places left"><span>Starbucks Nariman</span> , <span>The Lobby Lounge</span> , <span>Starbucks Goregaon</span> , <span>Costa Coffee , & more</span></p>
					</a>
				</div>
				<div class="about-places">
					<a href="#" style="text-decoration:none">
						<h2 class="section-heading left">DELHI, DEL</h2>
						<p class="section-places left">...</p>
					</a>
				</div>
				<div class="about-places">
					<a href="#" style="text-decoration:none">
						<h2 class="section-heading left">PUNE, PUN</h2>
						<p class="section-places left">...</p>
					</a>
				</div>
				<div class="about-places">
					<a href="#" style="text-decoration:none">
						<h2 class="section-heading left">BANGLORE, BLR</h2>
						<p class="section-places left">...</p>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">				
				<div class="about-extra">
					<b style="letter-spacing: 1px">Have a city you'd like to see on this list? All it takes is 5 coffee shops to unlock your favorite city.</b>
				</div>
				<div class="row city-list" style="margin-top: 30px">
					<div class="col-lg-4 text-center" style="color:gray; text-decoration: line-through">Mumbai</div>
					<div class="col-lg-4 text-center">Delhi</div>
					<div class="col-lg-4 text-center">Pune</div>					
				</div>
				<div class="row city-list">
					<div class="col-lg-4 text-center">Bengaluru</div>
					<div class="col-lg-4 text-center">Hyderabad</div>
					<div class="col-lg-4 text-center">Chennai</div>					
				</div>
				<div class="row city-list">
					<div class="col-lg-4 text-center">Ahmedabad</div>
					<div class="col-lg-4 text-center">Kolkata</div>
					<div class="col-lg-4 text-center">Goa</div>					
				</div>
				<div class="row" style="margin-top: 30px">
					<div class="col-lg-6 text-center">
						<a href="#" class="ask-friend">Ask a friend</a>
					</div>
					<div class="col-lg-6 text-center">
						<a href="#" class="ask-friend">Recommend a place</a>
					</div>
				</div>
				<div class="about-extra">
					<b style="letter-spacing: 1px">To all of you who contributed to our growing community, here is a heartfealt thank you from all of us at Crew.</b>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section Footer
================================================== -->
<section class="bg-dark" style="padding: 40px 0px">
<div class="container">
<div class="row">
	<div class="col-md-12 text-center">
		<h1 class="bottombrand wow flipInX"><img src="/assets/cup-of-coffee.png" /></h1>
		<p>
			&copy; 2016 MeetOverCoffee
		</p>
	</div>
</div>
</div>
</section>

<!-- jQuery -->
